@{
    ViewBag.Title = "About Us";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>Stonewall Chess Store exists to provide you with high quality chess products at an affordable price.</p>
    </div>
</div>
